body {
  background-color: #f3f3f3;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  /* align-items: center; */
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* PLAYER CONTAINER */
#player1-container,
#player2-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

#player1-container {
  /* margin-bottom: 50px; */
}

/* ADD SHIP BUTTONS */

.ship-button-list button {
  width: 100%;
}

#player1-ship-button-container,
#player2-ship-button-container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player1-ship-button-container ul,
#player2-ship-button-container ul {
  margin-right: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  display: flex;
  text-align: center;
  list-style-type: none;
}

#player1-ship-button-container li,
#player2-ship-button-container li {
  margin-bottom: 10px;
  /* margin-right: 10px; */
  display: inline-block;
}

#player1-ship-button-container button,
#player2-ship-button-container button {
  padding: 0.5em 1em;
  border-radius: 0.2em;
  /* border: none; */
  outline: none;
  cursor: pointer;
}

/* .add-ship-button:not(.add-ship-button--selected):hover {
  background: #cccccc;
} */

/* .add-ship-button--selected {
  background-color: #cccccc;
} */

.carrier-button {
  /* background-color: #da0dd0d8; */
  border: 5px solid #da0dd0d8;
}
.carrier-button:hover {
  background-color: #da0dd065;
}

.battleship-button {
  /* background-color: #66ff00; */
  border: 5px solid #66ff00;
}
.battleship-button:hover {
  background-color: #66ff00ab;
}

.destroyer-button {
  /* background-color: green; */
  border: 5px solid green;
}
.destroyer-button:hover {
  background-color: rgba(0, 128, 0, 0.733);
}

.submarine-button {
  /* background-color: #ffff00ec; */
  border: 5px solid #ffff00ec;
}
.submarine-button:hover {
  background-color: #ffff00a8;
}

.patrol-boat-button {
  /* background-color: orange; */
  border: 5px solid orange;
}
.patrol-boat-button:hover {
  background-color: rgba(255, 166, 0, 0.699);
}

/* GAMEBOARD STYLES */

/* repeat makes 10 columns/rows all 1fr width/heigght */
#player2-gameboard,
#player1-gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 300px;
  width: 300px;
}

.grid-square {
  outline: #000000 solid 1px;
  background-color: #31f3f3;
}
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 80px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.status,
.notification {
  border: 3px solid #002fff;
  border-radius: 5px;
  /* flex-basis: 50%; */
  width: 470px;
}

/* @media (max-width: 800px) {
  .status,
  .notification {
    width: 30vw;
  }
} */

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  /* width: 50vw; */
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */

  flex: 1;
  margin: 0;
}

/* adds a colour to a grid square that has a ship */

.carrier {
  background-color: #da0dcf;
}

.battleship {
  background-color: #66ff00;
}

.destroyer {
  background-color: green;
}

.submarine {
  background-color: yellow;
}

.patrol-boat {
  background-color: orange;
}
/* 
.miss,
.hit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.hit::after {
  background-color: red;
}

.miss::after {
  background-color: white;
}

.miss::before,
.hit::before {
  content: "";
  position: absolute;
  animation: strike 0.2s ease-out forwards;
  border-width: 0.1vmin;
  border-style: solid;
  border: 0.1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.hit::before {
  border-color: red;
}

.miss:before {
  border-color: white;
}

@keyframes strike {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
} */

.miss,
.hit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}

.hit::after {
  background-color: red;
}

.miss::before {
  content: "";
  position: absolute;
  animation: hit 0.2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.hit {
  animation: boom 0.2s ease-out forwards;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}

/* @keyframes boom {
  0% {
    background-color: red;
  }

  100% {
    background-color: hsl(0, 0%, 80%);
  }
} */

.hide-square {
  background-color: black;
}

/* START GAME AND ENABLE COMPUTER */

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-container button {
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: 3px solid #002fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
#start-button-container button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.start-container button:hover {
  background-color: #002fff9f;
}

.reset-game {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid #002fff9f;
  border-radius: 5px;
  z-index: 10;
  background-color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  /* opacity: 0; */
}

.reset-game.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;

  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.reset-game button {
  flex: 1;
  height: 100%;
}
