/* MAIN CONTAINER */
.main-container {
  display: flex;
  /* align-items: center; */
  align-items: center;
}

/* PLAYER CONTAINER */
#player1-container,
#player2-container {
  display: flex;
  justify-content: center;
}

#player1-container {
  margin-bottom: 50px;
}

/* GAMEBOARD STYLES */

/* repeat makes 10 columns/rows all 1fr width/heigght */
#player2-gameboard,
#player1-gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 300px;
  width: 300px;
}

.grid-square {
  outline: #000000 solid 1px;
  background-color: #31f3f3;
}

/* adds a colour to a grid square that has a ship */

.carrier {
  background-color: #da0dcf;
}

.battleship {
  background-color: #66ff00;
}

.destroyer {
  background-color: green;
}

.submarine {
  background-color: yellow;
}

.patrol-boat {
  background-color: orange;
}

.hit {
  background-color: red;
  /* U+274C */
}

.miss {
  background-color: white;
}
